.main { padding: 1rem 10% 3rem 10%;}
.tituloPagina{margin-top: 20px;}
.main .noticiasRelacionadas{ margin-top: 100px;}

.alcaldesaImg{ 
    width: 100%;
    margin-bottom: 30px;
}

.contenido{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contacto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 5px;
    width: 350px;
}

.contacto p{
    display: flex;
    gap: 6px;
}

.contacto i{color: #26002b;}

.contacto a{display: flex; gap: 6px;}

.contenido .mapa{
    border: 0;
    width: calc(100% - 450px);
    height: 450px;
}

.paginasFooter{ margin-bottom: 80px;}

.paginasFooter h2{ 
    font-size: 28px;
    margin: 40px 0 8px 0;
}

.paginasFooter h3{ margin: 50px 0 10px 0;}
.paginasFooter h4{ margin: 30px 0px 10px 0px;}
.paginasFooter ul, .paginasFooter ol{ margin: 10px 20px;}
.paginasFooter li{ margin-bottom: 12px;}
.paginasFooter td:first-child{ font-weight: 800;}
.paginasFooter td{ padding: 15px;}

.underline{text-decoration: underline;}

.corporacion{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.trabajador{
    width: 18%;
    margin: 5px 1% 50px 1%;
    text-transform: capitalize;
}

.trabajador img{
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 11px 18px 0px rgba(0, 0, 0, 0.09), 0px 1px 2px 0px rgba(0, 0, 0, 0.05), 0px 9px 1px 0px rgba(0, 0, 0, 0.01), 0px 1px 1px 0px rgba(0, 0, 0, 0.00);
}

.trabajador h2{
    font-size: 18px;
    margin: 8px 0 3px 0;
    width: 100%;
}

.trabajador p{font-size: 16px;}

.pestanas{
    margin: 25px 0;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.pestanas a{
    width: 100%;
    max-width: 250px;
    background-color: #26002b;
    text-align: center;
    padding: 10px 0;
    border-radius: 25px;
    color: white;
}

.pestanas a:hover{
    background-color: #4b0853;
    cursor: pointer;
}

.pestanas .active{background-color: #4b0853;}

.contenidoPestana{
    font-size: 18px;
    color: #222222;
    padding: 0 15px;
    line-height: 1.5;
}

.codac{
    display: flex; 
    gap: 40px;
}

.imagenPestana{max-height: 250px;}

.enlacePestana{text-decoration: underline;}
.enlacePestana:hover{color: #4b0853;}


@media (max-width: 1248px) {
    .trabajador{ width: 23%;}
    .contenido .mapa{width: calc(100% - 400px)}
}

@media (max-width: 1172px) {
    .trabajador{width: 22%;}
}

@media (max-width: 1024px) {
    .main { padding: 1rem 7.5%;}
    .contenido{flex-direction: column;}

    .contenido .mapa{
        width: 100%;
        height: 250px;
        border-radius: 20px;
        overflow: hidden;
    }
}

@media (max-width: 820px) {
    .trabajador{ width: 30%;}
    .main .noticiasRelacionadas{ 
        margin-top:80px;
        padding: 0 20px 10px 20px;
    }

    .codac{
        display: flex; 
        flex-wrap: wrap;
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .main { padding: 1rem 5%;}
    .main h1{ font-size: 24px;}
    .trabajador{width: 48%;}
    .main .noticiasRelacionadas{ 
        margin-top: 50px;
        font-size: 21px;
    }
    .pestanas{
        margin: 15px 0;
        flex-wrap: wrap;
        gap: 5px;
    }
}

@media (max-width:694px) {
    .trabajador{width: 45%;}
}

@media (max-width: 510px) {
    .pestanas a{max-width: 100%;}
}

@media (max-width:300px) {
    .trabajador{width: 98%;}
}